<html xmlns:th="http://www.w3.org/1999/xhtml">
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .input-group {
            padding-bottom: 50px;
        }
    </style>
</header>
<body>
<form action="#" th:action="@{__${baseUrl}+'/search'__}" th:object="${dentistVisitSearchDTO}" method="post">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" th:href="@{__${baseUrl}__}" th:text="#{add.new.registration}">add.new.registration</a>
            <a class="navbar-brand" th:href="@{__${baseUrl}+'/newData'__}"
               th:text="#{add.new.data}">add.new.data</a>
        </nav>
        <div class="input-group">
            <input class="form-control" type="text" th:field="*{keyword}" th:placeholder="#{otsing.placeholder}"/>
            <span class="input-group-btn">
                    <input type="submit" value="Otsi" class="btn btn-primary"/>
            </span>
        </div>
        <div th:if="${isSearch == false and (registrations == null or registrations.empty)}"
             th:text="#{no.registrations}">
            no.registrations
        </div>
        <div th:if="${isSearch == true and (registrations == null or registrations.empty)}"
             th:text="#{search.no.registrations}">
            search.no.registrations
        </div>
        <table class="table" th:if="${registrations!=null and !registrations.empty}">
            <tr>
                <th th:text="#{patient.name}">patient.name</th>
                <th th:text="#{dentist.name}">dentist.name</th>
                <th th:text="#{visit.date}">visit.date</th>
                <th th:text="#{visit.time}">visit.time</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="registration : ${registrations}">
                <td th:text="${registration.patientName}"></td>
                <td th:text="${registration.dentistName}"></td>
                <td th:text="${registration.visitDate}"></td>
                <td th:text="${registration.visitTime}"></td>
                <td>
                    <a th:href="@{__${baseUrl}+'/modify/{id}(id=${registration.id})'__}">
                <span class="glyphicon glyphicon-edit">
                </span>
                    </a>
                </td>
                <td>
                    <a th:href="@{__${baseUrl}+'/delete/{id}(id=${registration.id})'__}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
        <div th:each="err : ${#fields.errors('*')}">
            <span th:text="#{err}" class="fieldError"></span>
        </div>
    </div>
</form>
</body>
</html>