<html>
<body>
<form action="#" th:action="@{/newData}" th:object="${possibleDentistVisitDTO}" method="post">
    <table>
        <tr>
            <td>
                <a th:href="@{http://localhost:8080/}" th:text="#{add.new.registration}">add.new.registration</a>
            </td>
            <td>
                <a href="" th:href="@{http://localhost:8080/registrations}" th:text="#{look.all.registrations}">look.all.registrations</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p></td>
            <td><input type="text" th:field="*{dentistName}"/></td>
            <td th:if="${#fields.hasErrors('dentistName')}" th:errors="*{dentistName}"></td>
        </tr>
        <tr>
            <td><p th:text="#{visit.date}">visit.date</p></td>
            <td><input type="text" th:field="*{visitDate}"/></td>
            <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}"></td>
        </tr>
        <tr>
            <td><p th:text="#{visit.time}">visit.time</p></td>
            <td><input type="text" th:field="*{visitTime}"/></td>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.data}"></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>